# PANDAS MINI PROJECT

You have the data for the 100 top-rated movies from the past decade along with various pieces of information about the movie, its actors, and the voters who have rated these movies online. In this assignment, you will try to find some interesting insights into these movies and their voters, using Python.

# Task 1: Reading the data

### Subtask 1.1: Read the Movies Data.

Read the movies data file provided and store it in a dataframe movies.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
from IPython.display import display
from IPython.display import Image
sns.set_context("notebook")

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
df =pd.read_csv('/content/Movie+Assignment+Data.csv.csv')
df

,Title,title_year,budget,Gross,actor_1_name,actor_2_name,actor_3_name,actor_1_facebook_likes,actor_2_facebook_likes,actor_3_facebook_likes,...,Votes3044M,Votes3044F,Votes45A,Votes45AM,Votes45AF,Votes1000,VotesUS,VotesnUS,content_rating,Country
0,La La Land,2016,30000000,151101803,Ryan Gosling,Emma Stone,Ami√©e Conn,14000,19000.0,NaN,...,7.9,7.8,7.6,7.6,7.5,7.1,8.3,8.1,PG-13,USA
1,Zootopia,2016,150000000,341268248,Ginnifer Goodwin,Jason Bateman,Idris Elba,2800,28000.0,27000.0,...,7.8,8.1,7.8,7.8,8.1,7.6,8.0,8.0,PG,USA
2,Lion,2016,12000000,51738905,Dev Patel,Nicole Kidman,Rooney Mara,33000,96000.0,9800.0,...,7.9,8.2,8.0,7.9,8.4,7.1,8.1,8.0,PG-13,Australia
3,Arrival,2016,47000000,100546139,Amy Adams,Jeremy Renner,Forest Whitaker,35000,5300.0,NaN,...,7.8,7.8,7.6,7.6,7.7,7.3,8.0,7.9,PG-13,USA
4,Manchester by the Sea,2016,9000000,47695371,Casey Affleck,Michelle Williams,Kyle Chandler,518,71000.0,3300.0,...,7.7,7.7,7.6,7.6,7.6,7.1,7.9,7.8,R,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Whiplash,2014,3300000,13092000,J.K. Simmons,Melissa Benoist,Chris Mulkey,24000,970.0,535.0,...,8.3,8.2,8.1,8.1,8.2,8.0,8.6,8.4,R,USA
96,Before Midnight,2013,3000000,8114507,Seamus Davey-Fitzpatrick,Ariane Labed,Athina Rachel Tsangari,140,63.0,48.0,...,7.8,7.6,7.3,7.4,7.2,7.0,8.0,7.9,R,USA
97,Star Wars: Episode VII - The Force Awakens,2015,245000000,936662225,Doug Walker,Rob Walker,0,131,12.0,0.0,...,7.9,8.2,7.9,7.8,8.2,7.7,8.2,7.9,PG-13,USA
98,Harry Potter and the Deathly Hallows: Part I,2010,150000000,296347721,Rupert Grint,Toby Jones,Alfred Enoch,10000,2000.0,1000.0,...,7.3,8.1,7.4,7.3,8.0,6.7,7.9,7.5,PG-13,UK
99,Tucker and Dale vs Evil,2010,5000000,223838,Katrina Bowden,Tyler Labine,Chelan Simmons,948,779.0,440.0,...,7.5,7.7,7.5,7.4,7.7,7.1,7.7,7.5,R,Canada

In [20]:
df1 = pd.read_excel('/content/Movie+Assignment+Data+Dictionary.xlsx.xlsx')
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2
0,NaN,Column Name,Description
1,NaN,Title,Title of the movie
2,NaN,budget,Budget of the movie in $
3,NaN,Gross,Gross of the movie in $
4,NaN,actor_1_name,Name of the lead actor in the movie
...,...,...,...
60,NaN,content_rating,"Content rating of the movie. E.g. PG-13, R-rat..."
61,NaN,Country,Origin country of the movie
62,NaN,NaN,NaN
63,NaN,^Even though the number of columns is quite hi...,NaN
64,NaN,"Also, don't worry about the enormity of the nu...",NaN

### Subtask 1.2: Inspect the Dataframe
Inspect the dataframe for dimensions, null-values, and summary of different numeric columns.

In [8]:

print("Dimensions of the DataFrame:")
print(df.shape)


print("\nNull values in the DataFrame:")
print(df.isnull().sum())

print("\nSummary statistics of different numeric columns:")
print(df.describe())

Dimensions of the DataFrame:
(100, 62)

Null values in the DataFrame:
Title             0
title_year        0
budget            0
Gross             0
actor_1_name      0
                 ..
Votes1000         0
VotesUS           0
VotesnUS          0
content_rating    0
Country           0
Length: 62, dtype: int64

Summary statistics of different numeric columns:
        title_year        budget         Gross  actor_1_facebook_likes  \
count   100.000000  1.000000e+02  1.000000e+02              100.000000
mean   2012.820000  7.838400e+07  1.468679e+08            13407.270000
std       1.919491  7.445295e+07  1.454004e+08            10649.037862
min    2010.000000  3.000000e+06  2.238380e+05               39.000000
25%    2011.000000  1.575000e+07  4.199752e+07             1000.000000
50%    2013.000000  4.225000e+07  1.070266e+08            13000.000000
75%    2014.000000  1.500000e+08  2.107548e+08            20000.000000
max    2016.000000  2.600000e+08  9.366622e+08            35000.000000

       actor_2_facebook_likes  actor_3_facebook_likes  IMDb_rating  \
count               99.000000               98.000000   100.000000
mean              7377.303030             3002.153061     7.883000
std              13471.568216             6940.301133     0.247433
min                 12.000000                0.000000     7.500000
25%                580.000000              319.750000     7.700000
50%               1000.000000              626.500000     7.800000
75%              11000.000000             1000.000000     8.100000
max              96000.000000            46000.000000     8.800000

       MetaCritic     Runtime       CVotes10  ...  Votes1829F   Votes3044  \
count   95.000000  100.000000     100.000000  ...  100.000000  100.000000
mean    78.252632  126.420000   73212.160000  ...    7.982000    7.732000
std      9.122066   19.050799   82669.594746  ...    0.321417    0.251814
min     62.000000   91.000000    6420.000000  ...    7.300000    7.300000
25%     72.000000  114.750000   30587.000000  ...    7.700000    7.600000
50%     78.000000  124.000000   54900.500000  ...    8.000000    7.700000
75%     83.500000  136.250000   80639.000000  ...    8.200000    7.900000
max    100.000000  180.000000  584839.000000  ...    8.800000    8.700000

       Votes3044M  Votes3044F   Votes45A   Votes45AM   Votes45AF   Votes1000  \
count  100.000000  100.000000  100.00000  100.000000  100.000000  100.000000
mean     7.723000    7.780000    7.65100    7.624000    7.770000    7.274000
std      0.260479    0.282128    0.21485    0.213258    0.301344    0.361987
min      7.200000    7.200000    7.10000    7.100000    7.000000    6.400000
25%      7.500000    7.600000    7.50000    7.475000    7.500000    7.100000
50%      7.700000    7.800000    7.65000    7.600000    7.800000    7.300000
75%      7.900000    8.000000    7.80000    7.800000    7.925000    7.500000
max      8.700000    8.500000    8.10000    8.100000    8.500000    8.200000

          VotesUS    VotesnUS
count  100.000000  100.000000
mean     7.958000    7.793000
std      0.232327    0.264099
min      7.500000    7.300000
25%      7.800000    7.600000
50%      7.950000    7.750000
75%      8.100000    7.925000
max      8.700000    8.800000

[8 rows x 53 columns]

## Task 2: Data Analysis

Now that we have loaded the dataset and inspected it, we see that most of the data is in place. As of now, no data cleaning is required, so let's start with some data manipulation, analysis, and visualisation to get various insights about the data.

### Subtask 2.1: Reduce those Digits!
These numbers in the `budget` and `gross` are too big, compromising its readability. Let's convert the unit of the budget and gross columns from `$` to `million $` first.

In [11]:
# Convert budget and gross columns from dollars to million dollars
df['budget'] = df['budget'] / 1000000
df['Gross'] = df['Gross'] / 1000000


print(df.head(10))

                        Title  title_year    budget     Gross  \
0                  La La Land        2016  0.000030  0.000151
1                    Zootopia        2016  0.000150  0.000341
2                        Lion        2016  0.000012  0.000052
3                     Arrival        2016  0.000047  0.000101
4       Manchester by the Sea        2016  0.000009  0.000048
5          Hell or High Water        2016  0.000012  0.000027
6              Doctor Strange        2016  0.000165  0.000233
7                     Tangled        2010  0.000260  0.000201
8       The Dark Knight Rises        2012  0.000250  0.000448
9  Captain America: Civil War        2016  0.000250  0.000407

           actor_1_name        actor_2_name          actor_3_name  \
0          Ryan Gosling          Emma Stone            Ami√©e Conn
1      Ginnifer Goodwin       Jason Bateman            Idris Elba
2             Dev Patel       Nicole Kidman           Rooney Mara
3             Amy Adams       Jeremy Renner       Forest Whitaker
4         Casey Affleck  Michelle Williams          Kyle Chandler
5            Chris Pine        Jeff Bridges            Ben Foster
6  Benedict Cumberbatch    Chiwetel Ejiofor        Rachel McAdams
7          Brad Garrett        Donna Murphy           M.C. Gainey
8             Tom Hardy      Christian Bale  Joseph Gordon-Levitt
9     Robert Downey Jr.  Scarlett Johansson           Chris Evans

   actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
0                   14000                 19000.0                     NaN
1                    2800                 28000.0                 27000.0
2                   33000                 96000.0                  9800.0
3                   35000                  5300.0                     NaN
4                     518                 71000.0                  3300.0
5                   19000                 12000.0                  9000.0
6                   19000                     NaN                 46000.0
7                     799                   553.0                   284.0
8                   27000                 23000.0                 23000.0
9                   21000                 19000.0                 11000.0

   ...  Votes3044M Votes3044F Votes45A Votes45AM  Votes45AF  Votes1000  \
0  ...         7.9        7.8      7.6       7.6        7.5        7.1
1  ...         7.8        8.1      7.8       7.8        8.1        7.6
2  ...         7.9        8.2      8.0       7.9        8.4        7.1
3  ...         7.8        7.8      7.6       7.6        7.7        7.3
4  ...         7.7        7.7      7.6       7.6        7.6        7.1
5  ...         7.6        7.4      7.6       7.6        7.7        7.3
6  ...         7.4        7.7      7.5       7.4        7.8        7.1
7  ...         7.5        8.0      7.7       7.6        7.9        6.9
8  ...         8.3        8.2      7.9       7.9        7.9        7.8
9  ...         7.7        7.8      7.6       7.6        7.9        7.5

   VotesUS  VotesnUS  content_rating    Country
0      8.3       8.1           PG-13        USA
1      8.0       8.0              PG        USA
2      8.1       8.0           PG-13  Australia
3      8.0       7.9           PG-13        USA
4      7.9       7.8               R        USA
5      7.9       7.5               R        USA
6      7.6       7.4           PG-13        USA
7      7.9       7.7              PG        USA
8      8.4       8.4           PG-13        USA
9      8.1       7.7           PG-13        USA

[10 rows x 62 columns]

### Subtask 2.2: Let's Talk Profit!

1. Create a new column called `profit` which contains the difference of the two columns: `gross` and `budget`
2. Sort the dataframe using the `profit` column as reference.
3. Extract the top ten profiting movies in descending order and store them in a new dataframe named `top10`
4. Record your observations
5. Extract the movies with a `negative profit` and store them in a new dataframe named `neg_profit`

In [14]:
# Create a new column called profit which contains the difference of the two columns: gross and budget
df['profit'] = df['Gross'] - df['budget']


print(df.head(10))

                        Title  title_year    budget     Gross  \
0                  La La Land        2016  0.000030  0.000151
1                    Zootopia        2016  0.000150  0.000341
2                        Lion        2016  0.000012  0.000052
3                     Arrival        2016  0.000047  0.000101
4       Manchester by the Sea        2016  0.000009  0.000048
5          Hell or High Water        2016  0.000012  0.000027
6              Doctor Strange        2016  0.000165  0.000233
7                     Tangled        2010  0.000260  0.000201
8       The Dark Knight Rises        2012  0.000250  0.000448
9  Captain America: Civil War        2016  0.000250  0.000407

           actor_1_name        actor_2_name          actor_3_name  \
0          Ryan Gosling          Emma Stone            Ami√©e Conn
1      Ginnifer Goodwin       Jason Bateman            Idris Elba
2             Dev Patel       Nicole Kidman           Rooney Mara
3             Amy Adams       Jeremy Renner       Forest Whitaker
4         Casey Affleck  Michelle Williams          Kyle Chandler
5            Chris Pine        Jeff Bridges            Ben Foster
6  Benedict Cumberbatch    Chiwetel Ejiofor        Rachel McAdams
7          Brad Garrett        Donna Murphy           M.C. Gainey
8             Tom Hardy      Christian Bale  Joseph Gordon-Levitt
9     Robert Downey Jr.  Scarlett Johansson           Chris Evans

   actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
0                   14000                 19000.0                     NaN
1                    2800                 28000.0                 27000.0
2                   33000                 96000.0                  9800.0
3                   35000                  5300.0                     NaN
4                     518                 71000.0                  3300.0
5                   19000                 12000.0                  9000.0
6                   19000                     NaN                 46000.0
7                     799                   553.0                   284.0
8                   27000                 23000.0                 23000.0
9                   21000                 19000.0                 11000.0

   ...  Votes3044F Votes45A Votes45AM Votes45AF  Votes1000  VotesUS  VotesnUS  \
0  ...         7.8      7.6       7.6       7.5        7.1      8.3       8.1
1  ...         8.1      7.8       7.8       8.1        7.6      8.0       8.0
2  ...         8.2      8.0       7.9       8.4        7.1      8.1       8.0
3  ...         7.8      7.6       7.6       7.7        7.3      8.0       7.9
4  ...         7.7      7.6       7.6       7.6        7.1      7.9       7.8
5  ...         7.4      7.6       7.6       7.7        7.3      7.9       7.5
6  ...         7.7      7.5       7.4       7.8        7.1      7.6       7.4
7  ...         8.0      7.7       7.6       7.9        6.9      7.9       7.7
8  ...         8.2      7.9       7.9       7.9        7.8      8.4       8.4
9  ...         7.8      7.6       7.6       7.9        7.5      8.1       7.7

   content_rating    Country    profit
0           PG-13        USA  0.000121
1              PG        USA  0.000191
2           PG-13  Australia  0.000040
3           PG-13        USA  0.000054
4               R        USA  0.000039
5               R        USA  0.000015
6           PG-13        USA  0.000068
7              PG        USA -0.000059
8           PG-13        USA  0.000198
9           PG-13        USA  0.000157

[10 rows x 63 columns]

In [ ]:
#Sort the dataframe using the profit column as reference

df_sorted = df.sort_values(by='profit', ascending=False)


print(df_sorted.head())

In [18]:
#Extract the top ten profiting movies in descending order and store them in a new dataframe named top10

df_sorted = df.sort_values(by='profit', ascending=False)


top10 = df_sorted.head(10)


print(top10)

                                         Title  title_year    budget  \
97  Star Wars: Episode VII - The Force Awakens        2015  0.000245
11                                The Avengers        2012  0.000220
47                                    Deadpool        2016  0.000058
32             The Hunger Games: Catching Fire        2013  0.000130
12                                 Toy Story 3        2010  0.000200
8                        The Dark Knight Rises        2012  0.000250
45                              The Lego Movie        2014  0.000060
1                                     Zootopia        2016  0.000150
41                               Despicable Me        2010  0.000069
18                                  Inside Out        2015  0.000175

       Gross       actor_1_name       actor_2_name           actor_3_name  \
97  0.000937        Doug Walker         Rob Walker                      0
11  0.000623    Chris Hemsworth  Robert Downey Jr.     Scarlett Johansson
47  0.000363      Ryan Reynolds          Ed Skrein         Stefan Kapicic
32  0.000425  Jennifer Lawrence    Josh Hutcherson  Sandra Ellis Lafferty
12  0.000415          Tom Hanks  John Ratzenberger            Don Rickles
8   0.000448          Tom Hardy     Christian Bale   Joseph Gordon-Levitt
45  0.000258     Morgan Freeman       Will Ferrell            Alison Brie
1   0.000341   Ginnifer Goodwin      Jason Bateman             Idris Elba
41  0.000252       Steve Carell   Miranda Cosgrove          Jack McBrayer
18  0.000356        Amy Poehler       Mindy Kaling          Phyllis Smith

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
97                     131                    12.0                     0.0
11                   26000                 21000.0                 19000.0
47                   16000                   805.0                   361.0
32                   34000                 14000.0                   523.0
12                   15000                  1000.0                   721.0
8                    27000                 23000.0                 23000.0
45                   11000                  8000.0                  2000.0
1                     2800                 28000.0                 27000.0
41                    7000                  2000.0                   975.0
18                    1000                   767.0                   384.0

    ...  Votes3044F Votes45A Votes45AM Votes45AF  Votes1000  VotesUS  \
97  ...         8.2      7.9       7.8       8.2        7.7      8.2
11  ...         8.1      7.9       7.9       8.1        7.4      8.3
47  ...         7.9      7.8       7.8       7.9        7.3      8.1
32  ...         7.9      7.3       7.2       7.9        6.7      7.7
12  ...         8.3      8.1       8.1       8.1        8.1      8.5
8   ...         8.2      7.9       7.9       7.9        7.8      8.4
45  ...         7.5      7.4       7.4       7.4        7.2      8.0
1   ...         8.1      7.8       7.8       8.1        7.6      8.0
41  ...         7.9      7.6       7.5       7.9        7.0      7.6
18  ...         8.1      7.9       7.9       7.9        7.6      8.2

    VotesnUS  content_rating    Country    profit
97       7.9           PG-13        USA  0.000692
11       7.9           PG-13        USA  0.000403
47       7.9               R        USA  0.000305
32       7.4           PG-13        USA  0.000295
12       8.3               G        USA  0.000215
8        8.4           PG-13        USA  0.000198
45       7.6              PG  Australia  0.000198
1        8.0              PG        USA  0.000191
41       7.6              PG        USA  0.000183
18       8.1              PG        USA  0.000181

[10 rows x 63 columns]

In [ ]:
#Record your observations
"""After extracting the top ten profiting movies and storing them in the DataFrame top10, you can observe the following:

1 .The movies in the top10 DataFrame have the highest profits among all movies in the original DataFrame.
2 .The 'profit' column represents the difference between the gross earnings and the budget of each movie. Therefore, the movies in the
top10 DataFrame have the highest earnings relative to their production budgets.
3 .The movies in the top10 DataFrame are sorted in descending order based on their profits, meaning the movie with the highest profit
appears first, followed by the rest in descending order."""

In [19]:
#Extract the movies with a negative profit and store them in a new dataframe named neg_profit

neg_profit = df[df['profit'] < 0]

print(neg_profit)

                          Title  title_year    budget         Gross  \
7                       Tangled        2010  0.000260  2.008073e-04
17             Edge of Tomorrow        2014  0.000178  1.001895e-04
22                         Hugo        2011  0.000170  7.382009e-05
28           X-Men: First Class        2011  0.000160  1.464054e-04
39            The Little Prince        2015  0.000081  1.339152e-06
46  Scott Pilgrim vs. the World        2010  0.000060  3.149427e-05
56                         Rush        2013  0.000038  2.690371e-05
66                      Warrior        2011  0.000025  1.365166e-05
82                      Flipped        2010  0.000014  1.752214e-06
89                        Amour        2012  0.000009  2.253770e-07
99      Tucker and Dale vs Evil        2010  0.000005  2.238380e-07

           actor_1_name        actor_2_name            actor_3_name  \
7          Brad Garrett        Donna Murphy             M.C. Gainey
17           Tom Cruise         Lara Pulver             Noah Taylor
22  Chlo√É¬´ Grace Moretz     Christopher Lee            Ray Winstone
28    Jennifer Lawrence  Michael Fassbender            Oliver Platt
39         Jeff Bridges        James Franco           Mackenzie Foy
46        Anna Kendrick       Kieran Culkin              Ellen Wong
56      Chris Hemsworth        Olivia Wilde    Alexandra Maria Lara
66            Tom Hardy        Frank Grillo              Kevin Dunn
82     Madeline Carroll   Rebecca De Mornay             Aidan Quinn
89     Isabelle Huppert     Emmanuelle Riva  Jean-Louis Trintignant
99       Katrina Bowden        Tyler Labine          Chelan Simmons

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
7                      799                   553.0                   284.0
17                   10000                   854.0                   509.0
22                   17000                 16000.0                  1000.0
28                   34000                 13000.0                  1000.0
39                   12000                 11000.0                  6000.0
46                   10000                  1000.0                   719.0
56                   26000                 10000.0                   471.0
66                   27000                   798.0                   581.0
82                    1000                   872.0                   767.0
89                     678                   432.0                   319.0
99                     948                   779.0                   440.0

    ...  Votes3044F Votes45A Votes45AM Votes45AF  Votes1000  VotesUS  \
7   ...         8.0      7.7       7.6       7.9        6.9      7.9
17  ...         7.7      7.8       7.8       7.8        7.5      8.0
22  ...         7.4      7.5       7.5       7.6        7.4      7.7
28  ...         7.8      7.6       7.5       7.7        7.3      7.8
39  ...         7.9      7.5       7.4       7.9        6.6      7.7
46  ...         7.2      7.1       7.1       7.0        6.6      7.8
56  ...         7.9      7.8       7.8       7.8        7.1      7.9
66  ...         8.0      7.7       7.7       7.5        7.1      8.2
82  ...         7.7      7.4       7.3       7.6        6.4      7.5
89  ...         7.9      7.9       7.8       8.1        7.2      7.9
99  ...         7.7      7.5       7.4       7.7        7.1      7.7

    VotesnUS  content_rating  Country    profit
7        7.7              PG      USA -0.000059
17       7.8           PG-13      USA -0.000078
22       7.5              PG      USA -0.000096
28       7.7           PG-13      USA -0.000014
39       7.7              PG   France -0.000080
46       7.4           PG-13      USA -0.000029
56       8.1               R       UK -0.000011
66       8.1           PG-13      USA -0.000011
82       7.7              PG      USA -0.000012
89       7.8           PG-13   France -0.000009
99       7.5               R   Canada -0.000005

[11 rows x 63 columns]

### Subtask 2.3: The General Audience and the Critics


You might have noticed the column `MetaCritic` in this dataset. This is a very popular website where an average score is determined through the scores given by the top-rated critics. Second, you also have another column `IMDb_rating` which tells you the IMDb rating of a movie. This rating is determined by taking the average of hundred-thousands of ratings from the general audience.

As a part of this subtask, you are required to find out the highest rated movies which have been liked by critics and audiences alike.

1. Firstly you will notice that the `MetaCritic` score is on a scale of `100` whereas the `IMDb_rating` is on a scale of `10`      First convert the `MetaCritic` column to a scale of 10.
2. Now, to find out the movies which have been liked by both critics and audiences alike and also have a high rating overall,      you need to:

    - Create a new column `Avg_rating` which will have the average of the `MetaCritic` and `Rating` columns
    - Retain only the movies in which the absolute difference(using abs() function) between the `IMDb_rating` and `Metacritic`             columns     is less than 0.5. Refer to this link to know how abs() funtion works - https://www.geeksforgeeks.org/abs-in-python/
    - Sort these values in a descending order of `Avg_rating` and retain only the movies with a rating equal to or greater than 8       and    store these movies in a new dataframe `UniversalAcclaim`.

In [26]:
high_ratings = df[(df['MetaCritic'] >= 80) & (df['IMDb_rating'] >= 8)]


df_sorted_critics = high_ratings.sort_values(by=['MetaCritic', 'IMDb_rating'], ascending=False)


top10_critics = df_sorted_critics.head(10)
print(top10_critics)

                       Title  title_year    budget     Gross  \
69          12 Years a Slave        2013  0.000020  0.000057
18                Inside Out        2015  0.000175  0.000356
0                 La La Land        2016  0.000030  0.000151
70                 Spotlight        2015  0.000020  0.000045
12               Toy Story 3        2010  0.000200  0.000415
29        Mad Max: Fury Road        2015  0.000150  0.000154
67                       Her        2013  0.000023  0.000026
95                  Whiplash        2014  0.000003  0.000013
65  The Grand Budapest Hotel        2014  0.000025  0.000059
76         The King's Speech        2010  0.000015  0.000139

          actor_1_name       actor_2_name        actor_3_name  \
69  Quvenzhan√É¬© Wallis      Scoot McNairy        Taran Killam
18         Amy Poehler       Mindy Kaling       Phyllis Smith
0         Ryan Gosling         Emma Stone          Ami√©e Conn
70        Billy Crudup     Jamey Sheridan  Brian d'Arcy James
12           Tom Hanks  John Ratzenberger         Don Rickles
29           Tom Hardy    Charlize Theron        Zo√É¬´ Kravitz
67  Scarlett Johansson      Brian Johnson       Matt Letscher
95        J.K. Simmons    Melissa Benoist        Chris Mulkey
65         Bill Murray      Tom Wilkinson   F. Murray Abraham
76         Colin Firth      Jennifer Ehle        Derek Jacobi

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
69                    2000                   660.0                   500.0
18                    1000                   767.0                   384.0
0                    14000                 19000.0                     NaN
70                     745                   168.0                    77.0
12                   15000                  1000.0                   721.0
29                   27000                  9000.0                   943.0
67                   19000                   128.0                   105.0
95                   24000                   970.0                   535.0
65                   13000                  1000.0                   670.0
76                   14000                  1000.0                   520.0

    ...  Votes3044F Votes45A Votes45AM Votes45AF  Votes1000  VotesUS  \
69  ...         8.0      7.8       7.8       8.1        7.7      8.3
18  ...         8.1      7.9       7.9       7.9        7.6      8.2
0   ...         7.8      7.6       7.6       7.5        7.1      8.3
70  ...         8.0      8.1       8.0       8.4        7.5      8.3
12  ...         8.3      8.1       8.1       8.1        8.1      8.5
29  ...         7.8      7.5       7.5       7.2        8.0      8.2
67  ...         7.6      7.4       7.4       7.0        7.3      8.1
95  ...         8.2      8.1       8.1       8.2        8.0      8.6
65  ...         8.0      7.8       7.8       7.9        7.7      8.1
76  ...         8.2      8.1       8.0       8.5        7.7      8.2

    VotesnUS  content_rating    Country    profit
69       8.0               R        USA  0.000037
18       8.1              PG        USA  0.000181
0        8.1           PG-13        USA  0.000121
70       8.0               R        USA  0.000025
12       8.3               G        USA  0.000215
29       8.0               R  Australia  0.000004
67       7.9               R        USA  0.000003
95       8.4               R        USA  0.000010
65       8.0               R        USA  0.000034
76       8.0               R         UK  0.000124

[10 rows x 63 columns]

In [27]:
#Firstly you will notice that the MetaCritic score is on a scale of 100 whereas the IMDb_rating is on a scale of 10 First convert the MetaCritic column to a scale of 10.

df['MetaCritic'] = df['MetaCritic'] / 10


print(df.head())

                   Title  title_year    budget     Gross      actor_1_name  \
0             La La Land        2016  0.000030  0.000151      Ryan Gosling
1               Zootopia        2016  0.000150  0.000341  Ginnifer Goodwin
2                   Lion        2016  0.000012  0.000052         Dev Patel
3                Arrival        2016  0.000047  0.000101         Amy Adams
4  Manchester by the Sea        2016  0.000009  0.000048     Casey Affleck

         actor_2_name     actor_3_name  actor_1_facebook_likes  \
0          Emma Stone       Ami√©e Conn                   14000
1       Jason Bateman       Idris Elba                    2800
2       Nicole Kidman      Rooney Mara                   33000
3       Jeremy Renner  Forest Whitaker                   35000
4  Michelle Williams     Kyle Chandler                     518

   actor_2_facebook_likes  actor_3_facebook_likes  ...  Votes3044F Votes45A  \
0                 19000.0                     NaN  ...         7.8      7.6
1                 28000.0                 27000.0  ...         8.1      7.8
2                 96000.0                  9800.0  ...         8.2      8.0
3                  5300.0                     NaN  ...         7.8      7.6
4                 71000.0                  3300.0  ...         7.7      7.6

  Votes45AM Votes45AF  Votes1000  VotesUS  VotesnUS  content_rating  \
0       7.6       7.5        7.1      8.3       8.1           PG-13
1       7.8       8.1        7.6      8.0       8.0              PG
2       7.9       8.4        7.1      8.1       8.0           PG-13
3       7.6       7.7        7.3      8.0       7.9           PG-13
4       7.6       7.6        7.1      7.9       7.8               R

     Country    profit
0        USA  0.000121
1        USA  0.000191
2  Australia  0.000040
3        USA  0.000054
4        USA  0.000039

[5 rows x 63 columns]

In [28]:
#Create a new column Avg_rating which will have the average of the MetaCritic and Rating columns

df['Avg_rating'] = df[['MetaCritic', 'IMDb_rating']].mean(axis=1)


print(df.head())

                   Title  title_year    budget     Gross      actor_1_name  \
0             La La Land        2016  0.000030  0.000151      Ryan Gosling
1               Zootopia        2016  0.000150  0.000341  Ginnifer Goodwin
2                   Lion        2016  0.000012  0.000052         Dev Patel
3                Arrival        2016  0.000047  0.000101         Amy Adams
4  Manchester by the Sea        2016  0.000009  0.000048     Casey Affleck

         actor_2_name     actor_3_name  actor_1_facebook_likes  \
0          Emma Stone       Ami√©e Conn                   14000
1       Jason Bateman       Idris Elba                    2800
2       Nicole Kidman      Rooney Mara                   33000
3       Jeremy Renner  Forest Whitaker                   35000
4  Michelle Williams     Kyle Chandler                     518

   actor_2_facebook_likes  actor_3_facebook_likes  ...  Votes45A Votes45AM  \
0                 19000.0                     NaN  ...       7.6       7.6
1                 28000.0                 27000.0  ...       7.8       7.8
2                 96000.0                  9800.0  ...       8.0       7.9
3                  5300.0                     NaN  ...       7.6       7.6
4                 71000.0                  3300.0  ...       7.6       7.6

  Votes45AF Votes1000  VotesUS  VotesnUS  content_rating    Country    profit  \
0       7.5       7.1      8.3       8.1           PG-13        USA  0.000121
1       8.1       7.6      8.0       8.0              PG        USA  0.000191
2       8.4       7.1      8.1       8.0           PG-13  Australia  0.000040
3       7.7       7.3      8.0       7.9           PG-13        USA  0.000054
4       7.6       7.1      7.9       7.8               R        USA  0.000039

   Avg_rating
0        8.75
1        7.95
2        7.50
3        8.05
4        8.75

[5 rows x 64 columns]

In [29]:
#Retain only the movies in which the absolute difference(using abs() function) between the IMDb_rating and Metacritic columns is less than 0.5.
df_filtered = df[abs(df['IMDb_rating'] - df['MetaCritic']) < 0.5]


print(df_filtered)

                                         Title  title_year    budget  \
1                                     Zootopia        2016  0.000150
3                                      Arrival        2016  0.000047
6                               Doctor Strange        2016  0.000165
9                   Captain America: Civil War        2016  0.000250
13                                     Skyfall        2012  0.000200
21              Dawn of the Planet of the Apes        2014  0.000170
23                                  Big Hero 6        2014  0.000165
30                  How to Train Your Dragon 2        2014  0.000145
31                                The Revenant        2015  0.000135
32             The Hunger Games: Catching Fire        2013  0.000130
33                                 The Martian        2015  0.000108
35                            Django Unchained        2012  0.000100
43                                   Gone Girl        2014  0.000061
55                                   True Grit        2010  0.000038
57                                    The Town        2010  0.000037
62                               The Big Short        2015  0.000028
64                                 The Fighter        2010  0.000025
68                     Silver Linings Playbook        2012  0.000021
74                           Midnight in Paris        2011  0.000017
79                                       Drive        2011  0.000015
80                                  Ex Machina        2014  0.000015
83                                  Black Swan        2010  0.000013
86                                   Philomena        2013  0.000012
90                                Nightcrawler        2014  0.000008
93                          Dallas Buyers Club        2013  0.000005
95                                    Whiplash        2014  0.000003
97  Star Wars: Episode VII - The Force Awakens        2015  0.000245

       Gross          actor_1_name        actor_2_name           actor_3_name  \
1   0.000341      Ginnifer Goodwin       Jason Bateman             Idris Elba
3   0.000101             Amy Adams       Jeremy Renner        Forest Whitaker
6   0.000233  Benedict Cumberbatch    Chiwetel Ejiofor         Rachel McAdams
9   0.000407     Robert Downey Jr.  Scarlett Johansson            Chris Evans
13  0.000304         Albert Finney       Helen McCrory           Rory Kinnear
21  0.000209           Gary Oldman          Judy Greer       Kodi Smit-McPhee
23  0.000222      Damon Wayans Jr.       Daniel Henney        Abraham Benrubi
30  0.000177         Gerard Butler      Djimon Hounsou        America Ferrera
31  0.000184     Leonardo DiCaprio           Tom Hardy             Lukas Haas
32  0.000425     Jennifer Lawrence     Josh Hutcherson  Sandra Ellis Lafferty
33  0.000228            Matt Damon       Donald Glover          Benedict Wong
35  0.000163     Leonardo DiCaprio     Christoph Waltz           Ato Essandoh
43  0.000168         Patrick Fugit           Sela Ward      Emily Ratajkowski
55  0.000171            Matt Damon        Jeff Bridges            Bruce Green
57  0.000092         Jeremy Renner            Jon Hamm             Owen Burke
62  0.000070          Ryan Gosling      Christian Bale        Charlie Talbert
64  0.000094        Christian Bale          Jack McGee       Melissa McMeekin
68  0.000132     Jennifer Lawrence      Robert De Niro         Bradley Cooper
74  0.000057           Kurt Fuller      Audrey Fleurot           Nina Arianda
79  0.000035          Ryan Gosling       Albert Brooks           Russ Tamblyn
80  0.000025         Elina Alminas       Sonoya Mizuno          Corey Johnson
83  0.000107       Natalie Portman          Mila Kunis          Mark Margolis
86  0.000038          Steve Coogan     Mare Winningham          Peter Hermann
90  0.000032       Jake Gyllenhaal    Michael Papajohn            James Huang
93  0.000027   Matthew McConaughey     Jennifer Garner           Denis O'Hare
95  0.000013          J.K. Simmons     Melissa Benoist           Chris Mulkey
97  0.000937           Doug Walker          Rob Walker                      0

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
1                     2800                 28000.0                 27000.0
3                    35000                  5300.0                     NaN
6                    19000                     NaN                 46000.0
9                    21000                 19000.0                 11000.0
13                     883                   563.0                   393.0
21                   10000                  2000.0                   884.0
23                     756                   719.0                   562.0
30                   18000                  3000.0                   953.0
31                   29000                 27000.0                   733.0
32                   34000                 14000.0                   523.0
33                   13000                   801.0                   372.0
35                   29000                 11000.0                   265.0
43                     835                   812.0                   625.0
55                   13000                 12000.0                   538.0
57                   10000                  4000.0                   206.0
62                   33000                 23000.0                   767.0
64                   23000                   238.0                   141.0
68                   34000                 22000.0                 14000.0
74                     617                   204.0                   183.0
79                   33000                   745.0                   228.0
80                     149                   145.0                   123.0
83                   20000                 15000.0                  1000.0
86                    1000                   482.0                   322.0
90                   15000                   241.0                    85.0
93                   11000                  3000.0                   896.0
95                   24000                   970.0                   535.0
97                     131                    12.0                     0.0

    ...  Votes45A Votes45AM Votes45AF Votes1000  VotesUS  VotesnUS  \
1   ...       7.8       7.8       8.1       7.6      8.0       8.0
3   ...       7.6       7.6       7.7       7.3      8.0       7.9
6   ...       7.5       7.4       7.8       7.1      7.6       7.4
9   ...       7.6       7.6       7.9       7.5      8.1       7.7
13  ...       7.7       7.7       7.9       7.4      8.0       7.6
21  ...       7.4       7.4       7.4       7.4      7.8       7.5
23  ...       7.6       7.6       7.9       7.2      7.9       7.7
30  ...       7.6       7.5       7.9       7.2      7.8       7.7
31  ...       7.8       7.8       7.8       7.6      8.1       7.9
32  ...       7.3       7.2       7.9       6.7      7.7       7.4
33  ...       8.0       7.9       8.2       7.8      8.1       7.9
35  ...       8.0       8.0       8.1       7.8      8.4       8.4
43  ...       7.7       7.7       7.7       7.6      8.1       8.1
55  ...       7.7       7.7       7.7       7.3      7.9       7.6
57  ...       7.4       7.4       7.5       7.0      7.8       7.5
62  ...       7.7       7.7       7.8       7.3      7.9       7.7
64  ...       7.7       7.7       7.7       7.3      8.0       7.8
68  ...       7.6       7.6       7.7       6.9      8.0       7.6
74  ...       7.6       7.6       7.8       7.1      7.8       7.6
79  ...       7.4       7.4       7.4       7.6      8.0       7.8
80  ...       7.6       7.6       7.4       7.5      7.9       7.7
83  ...       7.5       7.5       7.4       7.6      8.0       8.0
86  ...       7.8       7.7       7.9       7.1      7.7       7.6
90  ...       7.7       7.7       7.7       7.8      8.0       7.8
93  ...       7.8       7.8       8.0       7.2      8.0       7.9
95  ...       8.1       8.1       8.2       8.0      8.6       8.4
97  ...       7.9       7.8       8.2       7.7      8.2       7.9

    content_rating  Country    profit  Avg_rating
1               PG      USA  0.000191        7.95
3            PG-13      USA  0.000054        8.05
6            PG-13      USA  0.000068        7.40
9            PG-13      USA  0.000157        7.70
13           PG-13       UK  0.000104        7.95
21           PG-13      USA  0.000039        7.75
23              PG      USA  0.000057        7.60
30              PG      USA  0.000032        7.75
31               R      USA  0.000049        7.80
32           PG-13      USA  0.000295        7.60
33           PG-13      USA  0.000120        8.00
35               R      USA  0.000063        8.25
43               R      USA  0.000107        8.00
55           PG-13      USA  0.000133        7.80
57               R      USA  0.000055        7.50
62               R      USA  0.000042        7.95
64               R      USA  0.000069        7.85
68               R      USA  0.000111        7.95
74           PG-13    Spain  0.000040        7.90
79               R      USA  0.000020        7.80
80               R       UK  0.000010        7.75
83               R      USA  0.000094        7.95
86           PG-13       UK  0.000026        7.65
90               R      USA  0.000024        7.75
93               R      USA  0.000022        8.20
95               R      USA  0.000010        8.65
97           PG-13      USA  0.000692        8.10

[27 rows x 64 columns]

In [30]:
#Sort these values in a descending order of Avg_rating and retain only the movies with a rating equal to or greater than 8 and store these movies in a new dataframe UniversalAcclaim.

df_filtered_sorted = df_filtered.sort_values(by='Avg_rating', ascending=False)

UniversalAcclaim = df_filtered_sorted[df_filtered_sorted['Avg_rating'] >= 8]

print(UniversalAcclaim)

                                         Title  title_year    budget  \
95                                    Whiplash        2014  0.000003
35                            Django Unchained        2012  0.000100
93                          Dallas Buyers Club        2013  0.000005
97  Star Wars: Episode VII - The Force Awakens        2015  0.000245
3                                      Arrival        2016  0.000047
33                                 The Martian        2015  0.000108
43                                   Gone Girl        2014  0.000061

       Gross         actor_1_name     actor_2_name       actor_3_name  \
95  0.000013         J.K. Simmons  Melissa Benoist       Chris Mulkey
35  0.000163    Leonardo DiCaprio  Christoph Waltz       Ato Essandoh
93  0.000027  Matthew McConaughey  Jennifer Garner       Denis O'Hare
97  0.000937          Doug Walker       Rob Walker                  0
3   0.000101            Amy Adams    Jeremy Renner    Forest Whitaker
33  0.000228           Matt Damon    Donald Glover      Benedict Wong
43  0.000168        Patrick Fugit        Sela Ward  Emily Ratajkowski

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
95                   24000                   970.0                   535.0
35                   29000                 11000.0                   265.0
93                   11000                  3000.0                   896.0
97                     131                    12.0                     0.0
3                    35000                  5300.0                     NaN
33                   13000                   801.0                   372.0
43                     835                   812.0                   625.0

    ...  Votes45A Votes45AM Votes45AF Votes1000  VotesUS  VotesnUS  \
95  ...       8.1       8.1       8.2       8.0      8.6       8.4
35  ...       8.0       8.0       8.1       7.8      8.4       8.4
93  ...       7.8       7.8       8.0       7.2      8.0       7.9
97  ...       7.9       7.8       8.2       7.7      8.2       7.9
3   ...       7.6       7.6       7.7       7.3      8.0       7.9
33  ...       8.0       7.9       8.2       7.8      8.1       7.9
43  ...       7.7       7.7       7.7       7.6      8.1       8.1

    content_rating  Country    profit  Avg_rating
95               R      USA  0.000010        8.65
35               R      USA  0.000063        8.25
93               R      USA  0.000022        8.20
97           PG-13      USA  0.000692        8.10
3            PG-13      USA  0.000054        8.05
33           PG-13      USA  0.000120        8.00
43               R      USA  0.000107        8.00

[7 rows x 64 columns]

### Subtask 2.4: Find the Most Popular Trios - I
You're a producer looking to make a blockbuster movie. There will primarily be three lead roles in your movie and you wish to cast the most popular actors for it. Now, since you don't want to take a risk, you will cast a trio which has already acted in together in a movie before. The metric that you've chosen to check the popularity is the Facebook likes of each of these actors.

The dataframe has three columns to help you out for the same, viz. `actor_1_facebook_likes`, `actor_2_facebook_likes`, and `actor_3_facebook_likes`. Your objective is to find the trios which has the most number of Facebook likes combined. That is, the sum of `actor_1_facebook_likes`, `actor_2_facebook_likes` and `actor_3_facebook_likes` should be `maximum`. Find out the `top 5` popular trios, and output their `names` in a list.

In [33]:

df['total_facebook_likes'] = df['actor_1_facebook_likes'] + df['actor_2_facebook_likes'] + df['actor_3_facebook_likes']


df_sorted = df.sort_values(by='total_facebook_likes', ascending=False)


top5_trios = df_sorted[['actor_1_name', 'actor_2_name', 'actor_3_name']].head(5).values.tolist()


print(top5_trios)

[['Dev Patel', 'Nicole Kidman', 'Rooney Mara'], ['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt'], ['Jennifer Lawrence', 'Peter Dinklage', 'Hugh Jackman'], ['Casey Affleck', 'Michelle Williams ', 'Kyle Chandler'], ['Tom Hardy', 'Christian Bale', 'Joseph Gordon-Levitt']]

### Subtask 2.5: Find the Most Popular Trios - II
In the previous subtask you found the popular trio based on the total number of facebook likes. Let's add a small condition to it and make sure that all three actors are popular. The condition is none of the three actors' Facebook likes should be less than half of the other two. For example, the following is a valid combo:

actor_1_facebook_likes: 70000
actor_2_facebook_likes: 40000
actor_3_facebook_likes: 50000
But the below one is not:

actor_1_facebook_likes: 70000
actor_2_facebook_likes: 40000
actor_3_facebook_likes: 30000
since in this case, actor_3_facebook_likes is 30000, which is less than half of actor_1_facebook_likes.

Having this condition ensures that you aren't getting any unpopular actor in your trio (since the total likes calculated in the previous question doesn't tell anything about the individual popularities of each actor in the trio.).

You can do a manual inspection of the top 5 popular trios you have found in the previous subtask and check how many of those trios satisfy this condition. Also, which is the most popular trio after applying the condition above? Write your answers in the markdown cell provided below?

In [34]:
# Calculate the total Facebook likes for each trio
df['total_facebook_likes'] = df['actor_1_facebook_likes'] + df['actor_2_facebook_likes'] + df['actor_3_facebook_likes']

filtered_df = df[(df['actor_1_facebook_likes'] >= df['actor_2_facebook_likes'] / 2) &
                 (df['actor_1_facebook_likes'] >= df['actor_3_facebook_likes'] / 2) &
                 (df['actor_2_facebook_likes'] >= df['actor_1_facebook_likes'] / 2) &
                 (df['actor_2_facebook_likes'] >= df['actor_3_facebook_likes'] / 2) &
                 (df['actor_3_facebook_likes'] >= df['actor_1_facebook_likes'] / 2) &
                 (df['actor_3_facebook_likes'] >= df['actor_2_facebook_likes'] / 2)]


filtered_df_sorted = filtered_df.sort_values(by='total_facebook_likes', ascending=False)


top5_trios_filtered = filtered_df_sorted[['actor_1_name', 'actor_2_name', 'actor_3_name']].head(5).values.tolist()


print(top5_trios_filtered)

[['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt'], ['Jennifer Lawrence', 'Peter Dinklage', 'Hugh Jackman'], ['Tom Hardy', 'Christian Bale', 'Joseph Gordon-Levitt'], ['Chris Hemsworth', 'Robert Downey Jr.', 'Scarlett Johansson'], ['Philip Seymour Hoffman', 'Robin Wright', 'Brad Pitt']]

In [35]:
""" ['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt']  are most popular trio."""

Most popular trio after applying the condition: ['Leonardo DiCaprio', 'Tom Hardy', 'Joseph Gordon-Levitt']
Total Facebook likes for the most popular trio: 349000.0

### Subtask 2.6: R-Rated Movies

Although R rated movies are restricted movies for the under 18 age group, still there are vote counts from that age group. Among all the R rated movies that have been voted by the under-18 age group, find the top 10 movies that have the highest number of votes i.e`CVotesU18` from the `movies` dataframe. Store these in a dataframe named `PopularR`.

In [37]:

R_rated_movies = df[df['content_rating'] == 'R']

PopularR = R_rated_movies.sort_values(by='CVotesU18', ascending=False).head(10)

print(PopularR)

                                              Title  title_year    budget  \
47                                         Deadpool        2016  0.000058
36                          The Wolf of Wall Street        2013  0.000100
35                                 Django Unchained        2012  0.000100
29                               Mad Max: Fury Road        2015  0.000150
95                                         Whiplash        2014  0.000003
31                                     The Revenant        2015  0.000135
40                                   Shutter Island        2010  0.000080
43                                        Gone Girl        2014  0.000061
65                         The Grand Budapest Hotel        2014  0.000025
72  Birdman or (The Unexpected Virtue of Ignorance)        2014  0.000018

       Gross       actor_1_name         actor_2_name       actor_3_name  \
47  0.000363      Ryan Reynolds            Ed Skrein     Stefan Kapicic
36  0.000117  Leonardo DiCaprio  Matthew McConaughey        Jon Favreau
35  0.000163  Leonardo DiCaprio      Christoph Waltz       Ato Essandoh
29  0.000154          Tom Hardy      Charlize Theron       Zo√É¬´ Kravitz
95  0.000013       J.K. Simmons      Melissa Benoist       Chris Mulkey
31  0.000184  Leonardo DiCaprio            Tom Hardy         Lukas Haas
40  0.000128  Leonardo DiCaprio        Joseph Sikora     Nellie Sciutto
43  0.000168      Patrick Fugit            Sela Ward  Emily Ratajkowski
65  0.000059        Bill Murray        Tom Wilkinson  F. Murray Abraham
72  0.000042         Emma Stone          Naomi Watts      Merritt Wever

    actor_1_facebook_likes  actor_2_facebook_likes  actor_3_facebook_likes  \
47                   16000                   805.0                   361.0
36                   29000                 11000.0                  4000.0
35                   29000                 11000.0                   265.0
29                   27000                  9000.0                   943.0
95                   24000                   970.0                   535.0
31                   29000                 27000.0                   733.0
40                   29000                   223.0                   163.0
43                     835                   812.0                   625.0
65                   13000                  1000.0                   670.0
72                   15000                  6000.0                   529.0

    ...  Votes45AM Votes45AF Votes1000 VotesUS  VotesnUS  content_rating  \
47  ...        7.8       7.9       7.3     8.1       7.9               R
36  ...        7.6       7.5       7.8     8.1       8.1               R
35  ...        8.0       8.1       7.8     8.4       8.4               R
29  ...        7.5       7.2       8.0     8.2       8.0               R
95  ...        8.1       8.2       8.0     8.6       8.4               R
31  ...        7.8       7.8       7.6     8.1       7.9               R
40  ...        7.4       7.6       7.6     7.8       8.1               R
43  ...        7.7       7.7       7.6     8.1       8.1               R
65  ...        7.8       7.9       7.7     8.1       8.0               R
72  ...        7.3       7.0       7.1     7.9       7.7               R

      Country    profit  Avg_rating  total_facebook_likes
47        USA  0.000305        7.25               17166.0
36        USA  0.000017        7.85               44000.0
35        USA  0.000063        8.25               40265.0
29  Australia  0.000004        8.55               36943.0
95        USA  0.000010        8.65               25505.0
31        USA  0.000049        7.80               56733.0
40        USA  0.000048        7.20               29386.0
43        USA  0.000107        8.00                2272.0
65        USA  0.000034        8.45               14670.0
72        USA  0.000024        8.30               21529.0

[10 rows x 65 columns]

## Task 3 : Demographic analysis

If you take a look at the last columns in the dataframe, most of these are related to demographics of the voters (in the last subtask, i.e., 2.8, you made use one of these columns - CVotesU18). We also have three genre columns indicating the genres of a particular movie. We will extensively use these columns for the third and the final stage of our assignment wherein we will analyse the voters across all demographics and also see how these vary across various genres. So without further ado, let's get started with demographic analysis.

### Subtask 3.1 Dataframe & Genres

There are 3 columns in the dataframe - `genre_1`, `genre_2`, and `genre_3`. As a part of this subtask, you need to aggregate a few values over these 3 columns.

1. First create a new dataframe `df_by_genre` that contains `genre_1`, `genre_2`, and `genre_3` and all the columns related to `CVotes/Votes` from the `movies` data frame. There are `47` columns to be extracted in total.
2. Now, Add a column called `cnt` to the dataframe `df_by_genre` and initialize it to `one`. You will realise the use of this column by the end of this subtask.
3. First group the dataframe `df_by_genre` by `genre_1` and find the sum of all the numeric columns such as `cnt`, columns related to `CVotes` and `Votes` columns and store it in a dataframe `df_by_g1`.
4. Perform the same operation for `genre_2` and `genre_3` and store it dataframes `df_by_g2` and `df_by_g3` respectively.
5. Now that you have 3 dataframes performed by grouping over `genre_1`, `genre_2`, and `genre_3` separately, it's time to combine them. For this, add the three dataframes and store it in a new dataframe `df_add`, so that the corresponding values of `Votes/CVotes` get added for each genre.There is a function called `add()` in pandas which lets you do this. You can refer to this link to see how this function works. https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.DataFrame.add.html
6. The column `cnt` on aggregation has basically kept the track of the number of occurences of each genre.Subset the genres that have atleast 10 movies into a new dataframe `genre_top10` based on the `cnt` column value.
7. Now, take the mean of all the numeric columns by dividing them with the column value `cnt` and store it back to the same dataframe. `We will be using this dataframe for further analysis in this task unless it is explicitly mentioned to use the dataframe movies`.
8. Since the number of votes can't be a fraction, type cast all the `CVotes` related columns to integers. Also, round off all the `Votes` related columns upto two digits after the decimal point.

In [38]:
#First create a new dataframe df_by_genre that contains genre_1, genre_2, and genre_3 and all the columns related to CVotes/Votes from the movies data frame. There are 47 columns to be extracted in total.

votes_columns = [col for col in df.columns if col.startswith('CVotes') or col.startswith('Votes')]


df_by_genre = df[['genre_1', 'genre_2', 'genre_3'] + votes_columns]


print(df_by_genre)

      genre_1    genre_2  genre_3  CVotes10  CVotes09  CVotes08  CVotes07  \
0      Comedy      Drama    Music     74245     71191     64640     38831
1   Animation  Adventure   Comedy     53626     70912    102352     57261
2   Biography      Drama      NaN     23325     29830     40564     20296
3       Drama    Mystery   Sci-Fi     55533     87850    109536     65440
4       Drama        NaN      NaN     18191     33532     46596     29626
..        ...        ...      ...       ...       ...       ...       ...
95      Drama      Music      NaN    110404    161864    132656     56007
96      Drama    Romance      NaN     16953     22109     31439     19251
97     Action  Adventure  Fantasy    155391    161810    166378     99402
98  Adventure     Family  Fantasy     68937     54947    102488     80465
99     Comedy     Horror      NaN     16572     19818     44460     35863

    CVotes06  CVotes05  CVotes04  ...  Votes1829F  Votes3044  Votes3044M  \
0      17377      8044      3998  ...         8.2        7.9         7.9
1      16719      4539      1467  ...         8.4        7.8         7.8
2       5842      1669       558  ...         8.4        8.0         7.9
3      26913     10556      5057  ...         8.1        7.8         7.8
4      11879      4539      1976  ...         7.8        7.7         7.7
..       ...       ...       ...  ...         ...        ...         ...
95     16577      6031      2937  ...         8.5        8.3         8.3
96      8142      3412      1649  ...         7.9        7.8         7.8
97     40734     18060      8751  ...         8.3        8.0         7.9
98     31205     11792      4808  ...         8.3        7.4         7.3
99     13456      4588      1684  ...         7.6        7.5         7.5

    Votes3044F  Votes45A  Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS
0          7.8       7.6        7.6        7.5        7.1      8.3       8.1
1          8.1       7.8        7.8        8.1        7.6      8.0       8.0
2          8.2       8.0        7.9        8.4        7.1      8.1       8.0
3          7.8       7.6        7.6        7.7        7.3      8.0       7.9
4          7.7       7.6        7.6        7.6        7.1      7.9       7.8
..         ...       ...        ...        ...        ...      ...       ...
95         8.2       8.1        8.1        8.2        8.0      8.6       8.4
96         7.6       7.3        7.4        7.2        7.0      8.0       7.9
97         8.2       7.9        7.8        8.2        7.7      8.2       7.9
98         8.1       7.4        7.3        8.0        6.7      7.9       7.5
99         7.7       7.5        7.4        7.7        7.1      7.7       7.5

[100 rows x 47 columns]

In [39]:
#Now, Add a column called cnt to the dataframe df_by_genre and initialize it to one.
df_by_genre['cnt'] = 1


print(df_by_genre)

      genre_1    genre_2  genre_3  CVotes10  CVotes09  CVotes08  CVotes07  \
0      Comedy      Drama    Music     74245     71191     64640     38831
1   Animation  Adventure   Comedy     53626     70912    102352     57261
2   Biography      Drama      NaN     23325     29830     40564     20296
3       Drama    Mystery   Sci-Fi     55533     87850    109536     65440
4       Drama        NaN      NaN     18191     33532     46596     29626
..        ...        ...      ...       ...       ...       ...       ...
95      Drama      Music      NaN    110404    161864    132656     56007
96      Drama    Romance      NaN     16953     22109     31439     19251
97     Action  Adventure  Fantasy    155391    161810    166378     99402
98  Adventure     Family  Fantasy     68937     54947    102488     80465
99     Comedy     Horror      NaN     16572     19818     44460     35863

    CVotes06  CVotes05  CVotes04  ...  Votes3044  Votes3044M  Votes3044F  \
0      17377      8044      3998  ...        7.9         7.9         7.8
1      16719      4539      1467  ...        7.8         7.8         8.1
2       5842      1669       558  ...        8.0         7.9         8.2
3      26913     10556      5057  ...        7.8         7.8         7.8
4      11879      4539      1976  ...        7.7         7.7         7.7
..       ...       ...       ...  ...        ...         ...         ...
95     16577      6031      2937  ...        8.3         8.3         8.2
96      8142      3412      1649  ...        7.8         7.8         7.6
97     40734     18060      8751  ...        8.0         7.9         8.2
98     31205     11792      4808  ...        7.4         7.3         8.1
99     13456      4588      1684  ...        7.5         7.5         7.7

    Votes45A  Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
0        7.6        7.6        7.5        7.1      8.3       8.1    1
1        7.8        7.8        8.1        7.6      8.0       8.0    1
2        8.0        7.9        8.4        7.1      8.1       8.0    1
3        7.6        7.6        7.7        7.3      8.0       7.9    1
4        7.6        7.6        7.6        7.1      7.9       7.8    1
..       ...        ...        ...        ...      ...       ...  ...
95       8.1        8.1        8.2        8.0      8.6       8.4    1
96       7.3        7.4        7.2        7.0      8.0       7.9    1
97       7.9        7.8        8.2        7.7      8.2       7.9    1
98       7.4        7.3        8.0        6.7      7.9       7.5    1
99       7.5        7.4        7.7        7.1      7.7       7.5    1

[100 rows x 48 columns]

<ipython-input-39-42730fbe486f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_by_genre['cnt'] = 1

In [40]:
#First group the dataframe df_by_genre by genre_1 and find the sum of all the numeric columns such as cnt, columns related to CVotes and Votes columns and store it in a dataframe df_by_g1.


df_by_g1 = df_by_genre.groupby('genre_1').sum()


print(df_by_g1)

                                                     genre_2  \
genre_1
Action     AdventureThrillerAdventureSci-FiAdventureAdven...
Adventure  FantasyFantasyDramaDramaDramaDramaDramaComedyB...
Animation  AdventureAdventureAdventureAdventureActionActi...
Biography  DramaComedyDramaDramaDramaDramaComedyDramaDram...
Comedy      DramaDramaDramaFantasyDramaDramaDramaDramaHorror
Crime          DramaDramaDramaDramaDramaDramaDramaDramaDrama
Drama      MysterySci-FiWesternMusicalHistorySportRomance...
Mystery                                             Thriller

                                                     genre_3  CVotes10  \
genre_1
Action     FantasySci-FiThrillerSci-FiSci-FiSci-FiSci-FiS...   2928407
Adventure  FamilySci-FiThrillerSci-FiWesternDramaDramaDra...   1058779
Animation  ComedyComedyComedyComedyAdventureAdventureCome...    681562
Biography  CrimeThrillerSportHistoryDramaHistoryRomanceTh...    666831
Comedy       MusicRomanceRomanceRomanceRomanceFantasyRomance    371217
Crime      ThrillerMysteryMysteryMysteryThrillerHistoryTh...    383290
Drama              Sci-FiThrillerRomanceThrillerSci-FiSci-Fi   1080725
Mystery                                                    0    150405

           CVotes09  CVotes08  CVotes07  CVotes06  CVotes05  CVotes04  \
genre_1
Action      3261919   4247693   2662020    986774    364234    156150
Adventure   1179818   1560541    966275    365486    136985     58559
Animation    798227   1153214    722782    251076     83069     30718
Biography   1088430   1654704    962977    306247    100005     38874
Comedy       496905    770395    518566    205434     81933     35788
Crime        690221   1083469    627593    206756     71460     30336
Drama       1494053   1827363   1078966    417205    163874     75525
Mystery      230844    278844    132349     45167     15615      7061

           CVotes03  ...  Votes3044  Votes3044M  Votes3044F  Votes45A  \
genre_1              ...
Action        89483  ...      209.1       208.8       210.0     206.5
Adventure     33174  ...       92.7        92.6        93.5      92.0
Animation     15733  ...       85.4        84.9        87.8      84.5
Biography     21536  ...      100.8       100.7       101.3     100.5
Comedy        20965  ...       68.6        68.7        68.9      67.7
Crime         17190  ...       69.4        69.7        68.8      68.7
Drama         45846  ...      139.3       139.0       139.7     137.7
Mystery        3780  ...        7.9         7.9         8.0       7.5

           Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
genre_1
Action         206.0      209.0      197.2    215.8     209.5   27
Adventure       91.6       93.8       88.9     95.3      93.5   12
Animation       84.1       86.7       80.0     87.6      86.1   11
Biography      100.0      102.9       94.7    103.3     101.5   13
Comedy          67.5       68.7       62.7     70.9      69.4    9
Crime           68.6       69.6       66.3     71.9      70.1    9
Drama          137.2      138.7      130.0    143.2     141.1   18
Mystery          7.4        7.6        7.6      7.8       8.1    1

[8 rows x 47 columns]

In [41]:
#Perform the same operation for genre_2 and genre_3 and store it dataframes df_by_g2 and df_by_g3 respectively.

df_by_g2 = df_by_genre.groupby('genre_2').sum()


df_by_g3 = df_by_genre.groupby('genre_3').sum()


print("DataFrame for genre_2:")
print(df_by_g2)
print("\nDataFrame for genre_3:")
print(df_by_g3)

DataFrame for genre_2:
                                                     genre_1  \
genre_2
Action                  AnimationAnimationAnimationAnimation
Adventure  AnimationActionAnimationActionAnimationActionA...
Biography                  ActionActionActionActionAdventure
Comedy     BiographyActionActionBiographyAdventureAdventu...
Crime                                                 Action
Drama      ComedyBiographyCrimeAdventureAdventureAdventur...
Family                                             Adventure
Fantasy                             AdventureAdventureComedy
History                                                Drama
Horror                                                Comedy
Music                                                  Drama
Musical                                                Drama
Mystery                                           DramaDrama
Romance                            DramaDramaDramaDramaDrama
Sci-Fi                                           ActionDrama
Sport                                                  Drama
Thriller                                  ActionMysteryDrama
War                                                    Drama
Western                                                Drama

                                                     genre_3  CVotes10  \
genre_2
Action                  AdventureAdventureAdventureAdventure    238060
Adventure  ComedyFantasyComedySci-FiComedyThrillerSci-FiS...   2297820
Biography                          DramaDramaDramaDramaDrama    185172
Comedy                      CrimeRomanceDramaDramaDramaDrama    428995
Crime                                                  Drama     19576
Drama      MusicThrillerFamilySci-FiThrillerSci-FiSci-FiM...   1923492
Family                                               Fantasy     68937
Fantasy                                              Romance    270616
History                                             Thriller     15757
Horror                                                     0     16572
Music                                                      0    110404
Musical                                              Romance     54268
Mystery                                         Sci-FiSci-Fi     85313
Romance                                               Sci-Fi    230425
Sci-Fi                                              Thriller    350243
Sport                                                      0     21364
Thriller                                                   0    624792
War                                                        0     15911
Western                                                    0    234824

           CVotes09  CVotes08  CVotes07  CVotes06  CVotes05  CVotes04  \
genre_2
Action       285510    430062    260106     88580     29250     10820
Adventure   2548864   3271725   2055600    758009    272735    113691
Biography    313178    576374    370003    119348     38643     14844
Comedy       624720    854162    512668    193916     76752     35193
Crime         40247     85359     64633     24920      8548      3261
Drama       2761237   4112363   2492241    853434    300100    124511
Family        54947    102488     80465     31205     11792      4808
Fantasy      290831    447307    291071    120920     47215     19848
History       32840     83322     63800     19183      5178      1657
Horror        19818     44460     35863     13456      4588      1684
Music        161864    132656     56007     16577      6031      2937
Musical       47750     63323     45160     22393     10744      5551
Mystery      152619    233474    148176     55575     20135      8863
Romance      270702    353326    215355     87701     35226     16298
Sci-Fi       361819    433983    284879    125143     53350     24462
Sport         28964     58237     45563     16432      5118      1655
Thriller     709424    734770    365134    135892     52714     25734
War           17607     32570     24461     10274      3848      1387
Western      339329    286911    121445     38251     14227      6469

           CVotes03  ...  Votes3044  Votes3044M  Votes3044F  Votes45A  \
genre_2              ...
Action         5521  ...       30.9        30.7        31.8      30.5
Adventure     64623  ...      171.0       170.4       173.9     169.2
Biography      7974  ...       38.3        38.2        38.5      38.0
Comedy        20995  ...       54.0        54.1        53.4      53.0
Crime          1669  ...        7.5         7.6         7.2       7.6
Drama         70205  ...      270.2       270.4       270.1     267.9
Family         2454  ...        7.4         7.3         8.1       7.4
Fantasy       10871  ...       22.9        22.9        23.3      23.0
History         735  ...        7.5         7.5         7.5       7.7
Horror          855  ...        7.5         7.5         7.7       7.5
Music          1859  ...        8.3         8.3         8.2       8.1
Musical        3484  ...        7.3         7.2         7.6       7.4
Mystery        5034  ...       15.4        15.4        15.2      15.2
Romance        9448  ...       38.7        38.7        38.7      37.9
Sci-Fi        15069  ...       15.8        15.8        15.6      15.6
Sport           848  ...        7.4         7.4         7.4       7.3
Thriller      15558  ...       24.1        24.1        24.2      22.9
War             726  ...        7.3         7.2         7.7       7.6
Western        4149  ...        8.3         8.3         8.3       8.0

           Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
genre_2
Action          30.4       31.4       29.0     31.8      31.1    4
Adventure      168.4      172.8      162.7    176.4     171.6   22
Biography       37.9       38.8       35.4     39.4      38.4    5
Comedy          53.1       53.1       51.0     55.5      54.3    7
Crime            7.6        7.4        7.2      7.8       7.6    1
Drama          267.1      271.8      253.4    278.2     272.6   35
Family           7.3        8.0        6.7      7.9       7.5    1
Fantasy         22.8       23.7       22.1     23.4      23.2    3
History          7.6        7.9        7.4      7.7       7.5    1
Horror           7.4        7.7        7.1      7.7       7.5    1
Music            8.1        8.2        8.0      8.6       8.4    1
Musical          7.3        7.7        6.6      7.6       7.5    1
Mystery         15.2       15.1       14.8     15.9      15.6    2
Romance         37.8       37.7       35.3     39.7      39.2    5
Sci-Fi          15.6       15.6       14.9     16.2      15.7    2
Sport            7.3        7.5        7.1      7.9       7.5    1
Thriller        22.8       22.9       23.0     24.2      24.5    3
War              7.5        8.0        6.6      7.6       7.5    1
Western          8.0        8.1        7.8      8.4       8.4    1

[19 rows x 47 columns]

DataFrame for genre_3:
                                                     genre_1  \
genre_3
Adventure               AnimationAnimationAnimationAnimation
Comedy     AnimationAnimationAnimationAnimationAnimationA...
Crime                                              Biography
Drama      ActionAnimationActionActionActionActionBiograp...
Family                                             Adventure
Fantasy                          ActionComedyActionAdventure
History                              BiographyBiographyCrime
Music                                                 Comedy
Mystery                                ActionCrimeCrimeCrime
Romance    DramaActionComedyComedyComedyBiographyComedyCo...
Sci-Fi     DramaActionActionActionActionActionActionAdven...
Sport                                        BiographyAction
Thriller   CrimeActionAdventureDramaBiographyDramaCrimeBi...
War                                                   Action
Western                                            Adventure

                                                     genre_2  CVotes10  \
genre_3
Adventure                           ActionActionActionAction    238060
Comedy     AdventureAdventureAdventureAdventureAdventureA...    583404
Crime                                                 Comedy    171660
Drama      AdventureAdventureBiographyBiographyBiographyC...    400221
Family                                                 Drama     29228
Fantasy                        AdventureDramaAdventureFamily    301836
History                                      DramaDramaDrama    135504
Music                                                  Drama     74245
Mystery                             AdventureDramaDramaDrama    274446
Romance        MusicalComedyDramaFantasyDramaDramaDramaDrama    319534
Sci-Fi     MysteryAdventureAdventureAdventureAdventureAdv...   1975041
Sport                                             DramaDrama     95717
Thriller   DramaAdventureDramaSci-FiDramaHistoryDramaDram...    456909
War                                                    Drama     36753
Western                                                Drama     21094

           CVotes09  CVotes08  CVotes07  CVotes06  CVotes05  CVotes04  \
genre_3
Adventure    285510    430062    260106     88580     29250     10820
Comedy       653362    882294    559835    200937     68167     26488
Crime        236650    250667    129164     46715     18682      8674
Drama        680085   1167327    748493    258717     88338     35439
Family        40728     77893     62936     27932     11179      4664
Fantasy      311392    442460    308676    120911     46269     19555
History      227547    311209    159262     48678     16055      6307
Music         71191     64640     38831     17377      8044      3998
Mystery      443661    654167    375087    128131     44818     18755
Romance      418790    715954    497486    193588     75675     32615
Sci-Fi      2169036   2569011   1517219    546668    200825     87463
Sport        140282    214806    138600     44470     13821      5155
Thriller     756067   1258608    810665    280154     97239     39547
War           54703    111271     82505     30231     10553      4303
Western       40901     91825     67175     23055      7191      2678

           CVotes03  ...  Votes3044  Votes3044M  Votes3044F  Votes45A  \
genre_3              ...
Adventure      5521  ...       30.9        30.7        31.8      30.5
Comedy        14258  ...       54.8        54.6        56.0      54.3
Crime          5854  ...        8.0         8.1         7.7       7.6
Drama         19075  ...       91.8        91.7        92.0      91.2
Family         2674  ...        7.4         7.4         7.4       7.5
Fantasy       11362  ...       30.4        30.2        31.7      30.4
History        3649  ...       23.7        23.6        23.8      23.3
Music          2839  ...        7.9         7.9         7.8       7.6
Mystery       10578  ...       30.8        30.8        31.5      30.4
Romance       18250  ...       60.2        60.2        60.9      59.9
Sci-Fi        50835  ...      117.8       117.7       117.6     115.5
Sport          2509  ...       15.5        15.5        15.2      15.2
Thriller      22382  ...       76.5        76.6        75.9      76.7
War            2388  ...        7.4         7.4         7.4       7.4
Western        1305  ...        7.6         7.6         7.5       7.7

           Votes45AM  Votes45AF  Votes1000  VotesUS  VotesnUS  cnt
genre_3
Adventure       30.4       31.4       29.0     31.8      31.1    4
Comedy          54.1       55.3       51.7     56.2      55.2    7
Crime            7.6        7.5        7.8      8.1       8.1    1
Drama           91.0       92.7       86.1     94.5      92.3   12
Family           7.5        7.6        7.4      7.7       7.5    1
Fantasy         30.0       31.8       28.4     31.5      30.5    4
History         23.1       24.2       22.0     24.5      23.7    3
Music            7.6        7.5        7.1      8.3       8.1    1
Mystery         30.3       31.3       29.3     31.9      31.3    4
Romance         59.7       61.2       54.6     62.1      60.9    8
Sci-Fi         115.2      115.9      113.0    121.3     118.3   15
Sport           15.2       15.0       14.2     16.0      15.6    2
Thriller        76.5       77.8       73.2     78.9      77.0   10
War              7.4        7.4        6.8      7.6       7.5    1
Western          7.7        7.7        7.3      7.9       7.6    1

[15 rows x 47 columns]

In [43]:
"""Now that you have 3 dataframes performed by grouping over genre_1, genre_2, and genre_3 separately, it's time to combine them. For this,
 add the three dataframes and store it in a new dataframe df_add, so that the corresponding values of Votes/CVotes get added for each
  genre.There is a function
 called add() in pandas which lets you do this """

df_by_g1 = df_by_g1.apply(pd.to_numeric, errors='coerce')
df_by_g2 = df_by_g2.apply(pd.to_numeric, errors='coerce')
df_by_g3 = df_by_g3.apply(pd.to_numeric, errors='coerce')


df_add = df_by_g1.add(df_by_g2, fill_value=0).add(df_by_g3, fill_value=0)


print(df_add)

           CVotes01  CVotes02  CVotes03  CVotes04  CVotes05   CVotes06  \
Action     171247.0   65573.0   95004.0  166970.0  393484.0  1075354.0
Adventure  173858.0   69737.0  103318.0  183070.0  438970.0  1212075.0
Animation   25193.0   10026.0   15733.0   30718.0   83069.0   251076.0
Biography   51297.0   20613.0   29510.0   53718.0  138648.0   425595.0
Comedy      88367.0   39391.0   56218.0   97469.0  226852.0   600287.0
Crime       37217.0   16985.0   24713.0   42271.0   98690.0   278391.0
Drama      211308.0   94185.0  135126.0  235475.0  552312.0  1529356.0
Family       7545.0    3317.0    5128.0    9472.0   22971.0    59137.0
Fantasy     38841.0   14693.0   22233.0   39403.0   93484.0   241831.0
History      9291.0    3148.0    4384.0    7964.0   21233.0    67861.0
Horror        848.0     479.0     855.0    1684.0    4588.0    13456.0
Music        9525.0    3670.0    4698.0    6935.0   14075.0    33954.0
Musical      5020.0    2490.0    3484.0    5551.0   10744.0    22393.0
Mystery     29444.0   13170.0   19392.0   34679.0   80568.0   228873.0
Romance     40075.0   19200.0   27698.0   48913.0  110901.0   281289.0
Sci-Fi     114435.0   46171.0   65904.0  111925.0  254175.0   671811.0
Sport        5234.0    2292.0    3357.0    6810.0   18939.0    60902.0
Thriller    57630.0   25767.0   37940.0   65281.0  149953.0   416046.0
War          4001.0    1971.0    3114.0    5690.0   14401.0    40505.0
Western      9737.0    3960.0    5454.0    9147.0   21418.0    61306.0

            CVotes07   CVotes08   CVotes09   CVotes10  ...  VotesM  VotesU18  \
Action     2922126.0  4677755.0  3547429.0  3166467.0  ...   243.2     253.8
Adventure  3281981.0  5262328.0  4014192.0  3594659.0  ...   298.4     311.4
Animation   722782.0  1153214.0   798227.0   681562.0  ...    86.4      88.9
Biography  1332980.0  2231078.0  1401608.0   852003.0  ...   141.1     146.9
Comedy     1591069.0  2506851.0  1774987.0  1383616.0  ...   180.2     187.4
Crime       821390.0  1419495.0   967118.0   574526.0  ...    86.6      90.6
Drama      4319700.0  7107053.0  4935375.0  3404438.0  ...   509.8     533.6
Family      143401.0   180381.0    95675.0    98165.0  ...    15.0      15.9
Fantasy     599747.0   889767.0   602223.0   572452.0  ...    54.1      56.9
History     223062.0   394531.0   260387.0   151261.0  ...    31.7      32.9
Horror       35863.0    44460.0    19818.0    16572.0  ...     7.5       7.7
Music        94838.0   197296.0   233055.0   184649.0  ...    16.7      17.9
Musical      45160.0    63323.0    47750.0    54268.0  ...     7.5       7.9
Mystery     655612.0  1166485.0   827124.0   510164.0  ...    55.2      58.4
Romance     712841.0  1069280.0   689492.0   549959.0  ...   100.7     105.8
Sci-Fi     1802098.0  3002994.0  2530855.0  2325284.0  ...   135.4     140.9
Sport       184163.0   273043.0   169246.0   117081.0  ...    23.4      24.8
Thriller   1175799.0  1993378.0  1465491.0  1081701.0  ...   102.3     106.7
War         106966.0   143841.0    72310.0    52664.0  ...    15.0      16.0
Western     188620.0   378736.0   380230.0   255918.0  ...    16.1      16.6

           VotesU18F  VotesU18M  VotesUS  VotesnUS   cnt  genre_1  genre_2  \
Action         256.8      252.8    247.6     240.6  31.0      NaN      NaN
Adventure      314.9      309.3    303.5     296.2  38.0      NaN      NaN
Animation       90.7       87.7     87.6      86.1  11.0      NaN      NaN
Biography      146.9      146.6    142.7     139.9  18.0      NaN      NaN
Comedy         186.9      186.9    182.6     178.9  23.0      NaN      NaN
Crime           87.7       90.9     87.8      85.8  11.0      NaN      NaN
Drama          529.7      532.2    515.9     506.0  65.0      NaN      NaN
Family          16.2       15.7     15.6      15.0   2.0      NaN      NaN
Fantasy         58.3       56.5     54.9      53.7   7.0      NaN      NaN
History         33.3       32.9     32.2      31.2   4.0      NaN      NaN
Horror           8.2        7.7      7.7       7.5   1.0      NaN      NaN
Music           17.6       18.1     16.9      16.5   2.0      NaN      NaN
Musical          8.4        7.6      7.6       7.5   1.0      NaN      NaN
Mystery         58.8       58.3     55.6      55.0   7.0      NaN      NaN
Romance        106.1      104.8    101.8     100.1  13.0      NaN      NaN
Sci-Fi         141.6      141.0    137.5     134.0  17.0      NaN      NaN
Sport           24.4       24.9     23.9      23.1   3.0      NaN      NaN
Thriller       104.9      106.7    103.1     101.5  13.0      NaN      NaN
War             16.8       15.6     15.2      15.0   2.0      NaN      NaN
Western         16.0       16.7     16.3      16.0   2.0      NaN      NaN

           genre_3
Action         NaN
Adventure      NaN
Animation      NaN
Biography      NaN
Comedy         NaN
Crime          NaN
Drama          NaN
Family         NaN
Fantasy        NaN
History        NaN
Horror         0.0
Music          0.0
Musical        NaN
Mystery        0.0
Romance        NaN
Sci-Fi         NaN
Sport          0.0
Thriller       0.0
War            0.0
Western        0.0

[20 rows x 48 columns]

In [44]:
#The column cnt on aggregation has basically kept the track of the number of occurences of each genre.Subset the genres that have atleast 10 movies into a new dataframe genre_top10 based on the cnt column value.

genre_top10 = df_add[df_add['cnt'] >= 10]


print(genre_top10)

           CVotes01  CVotes02  CVotes03  CVotes04  CVotes05   CVotes06  \
Action     171247.0   65573.0   95004.0  166970.0  393484.0  1075354.0
Adventure  173858.0   69737.0  103318.0  183070.0  438970.0  1212075.0
Animation   25193.0   10026.0   15733.0   30718.0   83069.0   251076.0
Biography   51297.0   20613.0   29510.0   53718.0  138648.0   425595.0
Comedy      88367.0   39391.0   56218.0   97469.0  226852.0   600287.0
Crime       37217.0   16985.0   24713.0   42271.0   98690.0   278391.0
Drama      211308.0   94185.0  135126.0  235475.0  552312.0  1529356.0
Romance     40075.0   19200.0   27698.0   48913.0  110901.0   281289.0
Sci-Fi     114435.0   46171.0   65904.0  111925.0  254175.0   671811.0
Thriller    57630.0   25767.0   37940.0   65281.0  149953.0   416046.0

            CVotes07   CVotes08   CVotes09   CVotes10  ...  VotesM  VotesU18  \
Action     2922126.0  4677755.0  3547429.0  3166467.0  ...   243.2     253.8
Adventure  3281981.0  5262328.0  4014192.0  3594659.0  ...   298.4     311.4
Animation   722782.0  1153214.0   798227.0   681562.0  ...    86.4      88.9
Biography  1332980.0  2231078.0  1401608.0   852003.0  ...   141.1     146.9
Comedy     1591069.0  2506851.0  1774987.0  1383616.0  ...   180.2     187.4
Crime       821390.0  1419495.0   967118.0   574526.0  ...    86.6      90.6
Drama      4319700.0  7107053.0  4935375.0  3404438.0  ...   509.8     533.6
Romance     712841.0  1069280.0   689492.0   549959.0  ...   100.7     105.8
Sci-Fi     1802098.0  3002994.0  2530855.0  2325284.0  ...   135.4     140.9
Thriller   1175799.0  1993378.0  1465491.0  1081701.0  ...   102.3     106.7

           VotesU18F  VotesU18M  VotesUS  VotesnUS   cnt  genre_1  genre_2  \
Action         256.8      252.8    247.6     240.6  31.0      NaN      NaN
Adventure      314.9      309.3    303.5     296.2  38.0      NaN      NaN
Animation       90.7       87.7     87.6      86.1  11.0      NaN      NaN
Biography      146.9      146.6    142.7     139.9  18.0      NaN      NaN
Comedy         186.9      186.9    182.6     178.9  23.0      NaN      NaN
Crime           87.7       90.9     87.8      85.8  11.0      NaN      NaN
Drama          529.7      532.2    515.9     506.0  65.0      NaN      NaN
Romance        106.1      104.8    101.8     100.1  13.0      NaN      NaN
Sci-Fi         141.6      141.0    137.5     134.0  17.0      NaN      NaN
Thriller       104.9      106.7    103.1     101.5  13.0      NaN      NaN

           genre_3
Action         NaN
Adventure      NaN
Animation      NaN
Biography      NaN
Comedy         NaN
Crime          NaN
Drama          NaN
Romance        NaN
Sci-Fi         NaN
Thriller       0.0

[10 rows x 48 columns]

In [45]:
#Now, take the mean of all the numeric columns by dividing them with the column value cnt and store it back to the same dataframe. We will be using this dataframe for further analysis in this task unless it is explicitly mentioned to use the dataframe movies.


genre_top10 = genre_top10.div(genre_top10['cnt'], axis='index')


print(genre_top10)

              CVotes01     CVotes02     CVotes03     CVotes04      CVotes05  \
Action     5524.096774  2115.258065  3064.645161  5386.129032  12693.032258
Adventure  4575.210526  1835.184211  2718.894737  4817.631579  11551.842105
Animation  2290.272727   911.454545  1430.272727  2792.545455   7551.727273
Biography  2849.833333  1145.166667  1639.444444  2984.333333   7702.666667
Comedy     3842.043478  1712.652174  2444.260870  4237.782609   9863.130435
Crime      3383.363636  1544.090909  2246.636364  3842.818182   8971.818182
Drama      3250.892308  1449.000000  2078.861538  3622.692308   8497.107692
Romance    3082.692308  1476.923077  2130.615385  3762.538462   8530.846154
Sci-Fi     6731.470588  2715.941176  3876.705882  6583.823529  14951.470588
Thriller   4433.076923  1982.076923  2918.461538  5021.615385  11534.846154

               CVotes06       CVotes07       CVotes08       CVotes09  \
Action     34688.838710   94262.129032  150895.322581  114433.193548
Adventure  31896.710526   86367.921053  138482.315789  105636.631579
Animation  22825.090909   65707.454545  104837.636364   72566.090909
Biography  23644.166667   74054.444444  123948.777778   77867.111111
Comedy     26099.434783   69176.913043  108993.521739   77173.347826
Crime      25308.272727   74671.818182  129045.000000   87919.818182
Drama      23528.553846   66456.923077  109339.276923   75928.846154
Romance    21637.615385   54833.923077   82252.307692   53037.846154
Sci-Fi     39518.294118  106005.764706  176646.705882  148873.823529
Thriller   32003.538462   90446.076923  153336.769231  112730.076923

                CVotes10  ...    VotesM  VotesU18  VotesU18F  VotesU18M  \
Action     102144.096774  ...  7.845161  8.187097   8.283871   8.154839
Adventure   94596.289474  ...  7.852632  8.194737   8.286842   8.139474
Animation   61960.181818  ...  7.854545  8.081818   8.245455   7.972727
Biography   47333.500000  ...  7.838889  8.161111   8.161111   8.144444
Comedy      60157.217391  ...  7.834783  8.147826   8.126087   8.126087
Crime       52229.636364  ...  7.872727  8.236364   7.972727   8.263636
Drama       52375.969231  ...  7.843077  8.209231   8.149231   8.187692
Romance     42304.538462  ...  7.746154  8.138462   8.161538   8.061538
Sci-Fi     136781.411765  ...  7.964706  8.288235   8.329412   8.294118
Thriller    83207.769231  ...  7.869231  8.207692   8.069231   8.207692

            VotesUS  VotesnUS  cnt  genre_1  genre_2  genre_3
Action     7.987097  7.761290  1.0      NaN      NaN      NaN
Adventure  7.986842  7.794737  1.0      NaN      NaN      NaN
Animation  7.963636  7.827273  1.0      NaN      NaN      NaN
Biography  7.927778  7.772222  1.0      NaN      NaN      NaN
Comedy     7.939130  7.778261  1.0      NaN      NaN      NaN
Crime      7.981818  7.800000  1.0      NaN      NaN      NaN
Drama      7.936923  7.784615  1.0      NaN      NaN      NaN
Romance    7.830769  7.700000  1.0      NaN      NaN      NaN
Sci-Fi     8.088235  7.882353  1.0      NaN      NaN      NaN
Thriller   7.930769  7.807692  1.0      NaN      NaN      0.0

[10 rows x 48 columns]

In [46]:
#Since the number of votes can't be a fraction, type cast all the CVotes related columns to integers. Also, round off all the Votes related columns upto two digits after the decimal point.

cvotes_columns = [col for col in genre_top10.columns if 'CVotes' in col]
genre_top10[cvotes_columns] = genre_top10[cvotes_columns].astype(int)


votes_columns = [col for col in genre_top10.columns if 'Votes' in col]
genre_top10[votes_columns] = genre_top10[votes_columns].round(2)


print(genre_top10)

           CVotes01  CVotes02  CVotes03  CVotes04  CVotes05  CVotes06  \
Action         5524      2115      3064      5386     12693     34688
Adventure      4575      1835      2718      4817     11551     31896
Animation      2290       911      1430      2792      7551     22825
Biography      2849      1145      1639      2984      7702     23644
Comedy         3842      1712      2444      4237      9863     26099
Crime          3383      1544      2246      3842      8971     25308
Drama          3250      1449      2078      3622      8497     23528
Romance        3082      1476      2130      3762      8530     21637
Sci-Fi         6731      2715      3876      6583     14951     39518
Thriller       4433      1982      2918      5021     11534     32003

           CVotes07  CVotes08  CVotes09  CVotes10  ...  VotesM  VotesU18  \
Action        94262    150895    114433    102144  ...    7.85      8.19
Adventure     86367    138482    105636     94596  ...    7.85      8.19
Animation     65707    104837     72566     61960  ...    7.85      8.08
Biography     74054    123948     77867     47333  ...    7.84      8.16
Comedy        69176    108993     77173     60157  ...    7.83      8.15
Crime         74671    129045     87919     52229  ...    7.87      8.24
Drama         66456    109339     75928     52375  ...    7.84      8.21
Romance       54833     82252     53037     42304  ...    7.75      8.14
Sci-Fi       106005    176646    148873    136781  ...    7.96      8.29
Thriller      90446    153336    112730     83207  ...    7.87      8.21

           VotesU18F  VotesU18M  VotesUS  VotesnUS  cnt  genre_1  genre_2  \
Action          8.28       8.15     7.99      7.76  1.0      NaN      NaN
Adventure       8.29       8.14     7.99      7.79  1.0      NaN      NaN
Animation       8.25       7.97     7.96      7.83  1.0      NaN      NaN
Biography       8.16       8.14     7.93      7.77  1.0      NaN      NaN
Comedy          8.13       8.13     7.94      7.78  1.0      NaN      NaN
Crime           7.97       8.26     7.98      7.80  1.0      NaN      NaN
Drama           8.15       8.19     7.94      7.78  1.0      NaN      NaN
Romance         8.16       8.06     7.83      7.70  1.0      NaN      NaN
Sci-Fi          8.33       8.29     8.09      7.88  1.0      NaN      NaN
Thriller        8.07       8.21     7.93      7.81  1.0      NaN      NaN

           genre_3
Action         NaN
Adventure      NaN
Animation      NaN
Biography      NaN
Comedy         NaN
Crime          NaN
Drama          NaN
Romance        NaN
Sci-Fi         NaN
Thriller       0.0

[10 rows x 48 columns]